.main-image {
  height: 80vh;
  min-width: 50%;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 600px;
}

@media screen and (max-width: 600px) {
  .wrap {
    display: block;
  }
  .main-image {
    width: 80vw;
    height: auto;
  }
}
